*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  margin: 0;
  }

.wrapper {
  /*display: flex;*/
  max-width: 1750px;
  height: 100vh;
  margin: 0 auto;
}

.navbar li {
  display: none;
}

.navbar img {
  height: 60px;
  width: auto;
  /*border: 2px solid pink;*/
  padding-left: 20px;
  padding-top: 10px;
}

.menu2 {
  display: none;
}

.cover {
background: url("https://static.pexels.com/photos/29564/pexels-photo.jpg");
/*border: 2px solid orange;*/
height: 350px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
position: center;
color: white;
}

.welcome {
  /*border: 2px solid purple;*/
  margin: 40px;
  text-align: center;
}

.welcome img {
  width: 25%;
  height: 25%;
}

.welcome h1 {
font-size: 42px;
margin: 0;
}

.fake-button {
  display: none;
}

.gallery {
  background-color: #d9d9d9;
}

.row {
 display: flex;
  flex-direction: column;
}

.link {
  height: 100px;
  width: 100px;
  background-color: #d9d9d9;
  opacity: 0.7;
  border-radius: 50%
}

.link a {
    text-decoration: none;
    /*color: white; */
  }

.gallery1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/rafting.jpg");
  background-size: cover;
  height: 300px;
  margin: 15px;
  margin-top: 20px;
}

.gallery2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/camp.jpeg");
  background-size: cover;
  height: 300px;
  margin: 15px;
}

.gallery3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/backpacking.jpg");
  background-size: cover;
  height: 300px;
  margin: 15px;
}

.gallery4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/canoeing.jpg");
  background-size: cover;
  height: 300px;
  margin: 12px;
}

.gallery5 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/photography.jpg");
  background-size: cover;
  height: 300px;
  margin: 12px;
}

.gallery6 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/custom.jpg");
  background-size: cover;
  height: 300px;
  margin: 12px;
}




/*.gallery2, .gallery3, .gallery5, .gallery6 {
  width: 50%;
}

.gallery1, .gallery4 {
 width: 100%;
}*/


@media screen and (min-width:620px) {


  .cover {
    border: 2px solid green;
     background: url("https://static.pexels.com/photos/29564/pexels-photo.jpg");
    height: 550px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
  }

  .navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 62%;
    list-style-type: none;
    height: 75px;
  }

  .navbar li {
    display: block;
    list-style-type: none;
    flex: 1 1 100%;
    border: 1px solid green;
    text-align: center;
  }

.welcome {
  margin: 25px;
}

  .welcome h1 {
  font-size: 50px;
  margin: 0;
  }

  .welcome img {
    width: 140px;
    height:140px;
  }

  #image {
    flex: 1;
    font-size: 25px;
    align-items: baseline;

  }

  .menu2 {
      border: 2px solid orange;
      height: 150px;
      width: 100%;
    }

  .menu2 ul {
    display: block;
    list-style-type: none;
    display: flex;
    width: 45%;
  }

  .menu2 li {
    flex: 1;
  }

}

@media and screen (min-width: 850px) {

  .wrapper {
    /*display: flex;*/
    max-width: 1750px;
    height: 100vh;
    margin: 0 auto;
  }

  .cover {
    border: 2px solid green;
     background: url("https://static.pexels.com/photos/29564/pexels-photo.jpg");
    height: 1050px;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }

  .fake-button {
    display: block;
    text-align: center;
    background-color: #DC7725;
    padding: 10px 20px;
  }
}
